* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: 5px;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #34251f; /* Change the color of the scrollbar thumb */
  border-radius: 0px; /* Add rounded corners to the thumb */
}

/* Style the scrollbar track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the color of the scrollbar track */
}

/* Hide the scrollbar but enable scrolling */
.container {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Microsoft Edge */

  /* WebKit-based browsers (like Chrome and Safari) */
  &::-webkit-scrollbar {
    width: 0.1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}